.checkboxes-dropdown
  .checkbox
    label
      position: static
      margin: 0
      padding: 0

    input[type=checkbox]
      position: static
      margin: 0 0.5em 0 0
      width: auto

// Chrome and Safari does not trigger display:none submit buttons on <enter> key press
.hidden-submit
  position: absolute
  top: -9999px
  left: -9999px
  opacity: 0
  height: 0
  width: 0
  visibility: hidden

form.search
  max-width: 20em
  margin-left: auto

.form-actions
  text-align: center
  margin-top: 45px
  padding-top: 15px
  border-top: 1px solid #ccc
